.customWrapper {
    background-color: #ffffff;
    font-family: 'Graphik-Regular-App';
    border-radius: 10px;
    border: 1px;

}

.customWrapperSendmessage {
    position: relative;
    background-color: #eeeeee;
    font-family: 'Graphik-Regular-App';
    border-radius: 10px;
    border: 1px;
    margin-left: 10px;
    height: unset;
    width: 92.5%;
    left: 50px;
    top: -50px;
}

.customToolbar {
    background-color: #eeeeee;
    font-family: 'Graphik-Regular-App';
    border-radius: 10px;
    border: 1px;
    height: unset;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 2px;
}

.customEditor {
    height: unset;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 10px;

}

.customEditorSendmessage {
    position: relative;
    height: unset;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 2px;
    border-style: solid;
    border-color: #eeeeee;
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
    max-height: 200px;


}