web-build
amplify
cypress
node_modules
**/*.d.ts
**/*.native.tsx
webpack.config.js
src/version.js
src/aws-video-exports.js
src/types.ts
rn-cli.config.js
screens/HomeScreen/NavigationRoot.ts
components/TestHelpers/TestHelpers.js
metro.config.js