.customWrapperRichText {
    background-color: #ffffff;
    font-family: 'Graphik-Regular-App';
    border-radius: 10px;
    border: 1px;

}

.customToolbarRichText {
    background-color: #ffffff;
    font-family: 'Graphik-Regular-App';
    border-radius: 10px;
    border: 1px;
    height: unset;
    width: 95%;
}

.customEditorRichText {
    height: unset;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 10px;

}

.customWrapperRichTextEdit {
    position: relative;
    background-color: #ffffff;
    font-family: 'Graphik-Regular-App';
    border-radius: 10px;
    border: 1px;
    margin-left: 10px;
    height: unset;
    width: 95%;

}

.customEditorRichTextEdit {
    position: relative;
    height: unset;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0.5px;
    border-style: solid;
    border-color: #777777;
    border-radius: 10px;
    max-height: 200px;


}