#set( $pageId = $ctx.args.pageId )
#set( $eventId = $ctx.args.eventId )
{
"version": "2018-05-29",
"method": "GET",
"params": {
    "headers":{
        "Content-Type":"text/html"
    },
        "body":""
}, 
"resourcePath": "/v3/events/$eventId/ticket_classes/for_sale/?token=NYEHRCYJVZ7NSXC66NO3&include_hidden=True"
}