#set( $pageId = $ctx.args.pageId )
{
"version": "2018-05-29",
"method": "GET",
"params": {
    "headers":{
        "Content-Type":"text/html"
    },
        "body":""
}, 
"resourcePath": "/v3/organizations/306871147874/events/?token=NYEHRCYJVZ7NSXC66NO3"
}